<div class="sov-host f-flex f-flex-col">
  <div class="sov-header f-flex f-flex-item-part">
    <h1>Header</h1>
  </div>
  <div class="f-flex f-flex-item-full f-flex-col">
    <div class="sovl-tab-header f-flex f-flex-item-part">
      <div class="f-flex f-flex-item-full sovl-item" *ngFor="let leg of legs" 
          [ngClass]="getLegClass(leg)"
          (click)="onLegSelected(leg)">
        <div class="f-flex-item-part">
          {{leg.symbol}}
        </div>
        <div class="f-flex-item-full">
          <div class="meter">
            <span style="width: 25%">
              <span style="padding: 0 5px;">20%</span>
            </span>
          </div>
        </div>
      </div>
      <div class="f-flex-item-part icon">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </div>
    <f-sov-leg class="f-flex f-flex-item-full" *ngFor="let leg1 of legs" [hidden]="leg1 !== selectedLeg">

    </f-sov-leg>
    
  </div>
</div>