<!-- <div class="container" style="margin-top:40px"> 
   <string-search></string-search>   
  <sorter-algos>

  </sorter-algos>
</div>
 -->
<!-- <f-avam-ticket style="height:350px;width:600px;background:red;">
  
</f-avam-ticket> -->
<div class="a-host">
    <f-avam-ticket class="f-flex f-flex-item-full" style="height:inherit;width:inherit"></f-avam-ticket>
</div>

 <div class="a-host" style="height:30px;"> 
    <div class="meter">
        <span style="width: 25%">123123</span>
    </div>
 </div> 