<div class="row">
  <div class="col text-right">
    <input type="text" [(ngModel)]="searchPattern" class="form-control">
    
  </div>
  <div class="col-2 text-right">
    <input type="checkbox" [(ngModel)]="isVanilla">
  </div>
  <div class="col-2 text-right">
    <button class="btn btn-primary" (click)="onSearch()">Search</button>
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <textarea rows="20" class="form-control" [(ngModel)]="searchString" [ngClass]="{'found' : found}"></textarea>
  </div>
</div>
<div class="row mt-4" *ngIf="result">
  <div class="col" >
    {{result.length}} match(es) found. <br>
    {{result | json}}
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <table class="table table-sm table-bordered" >
      <thead>
        <tr>
          <th>String Length</th>
          <th>Pattern Length</th>
          <th>Swaps</th>
          <th>Comparisions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>