<div class="row">
  <div class="col text-right">
    <input type="text">
    <button class="btn btn-sm btn-primary">Search</button>
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <textarea rows="20" class="form-control"></textarea>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th>String Length</th>
          <th>Pattern Length</th>
          <th>Swaps</th>
          <th>Comparisions</th>
        </tr>
      </thead>
    </table>
  </div>
</div>